<div id='content'>
	<div id="block-tables" class="block">
		<div class="content">
			<h2 class="title">Your Questions</h2>
			<div class="inner">
				<% @question.each do |q| %>
				<div class="fieldset">
					<h4>Asked <%= time_ago_in_words q.created_at %> ago</h4>
					<div class="field question_question">
						<div class="label">
							Question
						</div>
						<div class="value">
							<strong><%= q.question%></strong>
						</div>
					</div>
					<div class="field question_answer">
						<div class="label">
							Answer
						</div>
						<div class="value">
							<%= raw ((q.answer.nil? or q.answer == "") ? "<i>Not answered yet</i>" : q.answer) %>
						</div>
					</div>
					<div class="field question_user_id"></div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<style>
	form label {
	width: 200px !important;
	}

	p.help {
	margin-left: 205px !important;
	}

	div.selector, select {
	width: 255px !important;
	}

	div.selector span {
	width: 225px !important;
</style>
