<div class="field order_<%= field.name%>">
    <label for="order_<%= field.name%>">
        <%= field.label%>
    </label>
	<div class="" id="uniform-filter_select">
    <%= form.select field.method_name, field.enum, {:include_blank => false}, field.html_attributes.merge({ :class => "enum" })%>
	</div>
    <p class="help">
        Required. 
    </p>
</div>
